.alert {
    margin: 0;
    height: 54px;
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 14px;
    font-size: 14px;
    box-sizing: border-box;
}


.alert-danger {
    background: #F2DEDE;
    border: 1px solid #EBCCCC;
    border-radius: 4px;
    color: #A94442;
}


.alert-dismissible .close {
    padding: 15px 10px;
}

.alert-danger-close {
    background-color: #A94442;
}


