.badge-container {
    display: inline-block;
    position: relative;
}

.badge {
    background: #FF0000;
    border-radius: 50%;
    height: 16px;
    width: 17px;
    color: #FFFFFF;
    padding: 1px;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;

    position: absolute;
    top: 12px;
    right: -4px;
}
