button:focus {
    outline: 0;
}

.btn {
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(162, 121, 249, 0.1);
    height: 40px;
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
    padding: 13px 24px;
    box-sizing: border-box;
}

.btn:focus {
    box-shadow: unset;
}

.btn-primary {
    background: #2D9CDB;
    border: 0;
}

.btn-primary:hover {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #2D9CDB;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {

    background-color: #2D9CDB;
    border: 0;
    box-shadow: unset;
}

.btn-primary:disabled {
  background-color: #CCCCCC;
  color: #666666;
  border: 0;
}

.btn-light {
    background-color: #FFFFFF;
    border: 1px solid #808080;
    color: #808080;
}

.btn-light:hover {
    background: rgba(0, 0, 0, 0.08);
    color: #808080;
    border: 1px solid #808080;
}

.btn-module {
    color: #FFFFFF;
    height: 50px;
    font-size: 18px;
}

.btn-module:hover {
    color: #FFFFFF;
}

.btn-grey {
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    color: #808080;
}

.btn-noborder-nobg {
    border: unset;
    background: unset
}
