.promotion {
    background: #B30D3C;
}

.loyality {
    background: linear-gradient(180deg, #06537E 0%, #00488B 37.59%);
}

.bi-system {
    background: linear-gradient(180deg, #00691B 0%, #007D3A 38.15%);
}

.retail {
    background: linear-gradient(180deg, #4C0069 0%, #7F0A92 42.04%);
}

.admin {
    background: linear-gradient(180deg, #000000 6.56%, #5D001A 43.08%);
}


.btn.promotion:hover {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #B30D3C;
}

.color-grey {
    background: #DDDDDD;
}

.text-primary {
    color: #2D9CDB !important;
}

a.text-primary:hover {
    color: #247DAF !important;
    text-decoration: none;
}

.text-grey {
    color: #DDDDDD;
}

.text-promotion {
    color: #B30D3C;
}

.text-avatar {
    font-size: 12px;
    color: rgba(68, 68, 68, 0.6);
}

.text-griditemcount {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.3);
}

.link-promotion {
    color: #B30D3C;
    text-decoration: underline;
    font-weight: 500;
    font-size: 12px;
}

.link-promotion:hover {
    color: #8F0A30 !important;
}

.link-promotion:visited {
    color: #8F0A30;
}

/*Background*/

.bg-blue-white {
    background: linear-gradient(180deg, rgba(38, 130, 181, 0.09) 0%, rgba(128, 128, 128, 0) 19.79%);
    background-repeat: no-repeat;
}

/*Sidebar module color*/

.sidebar-module-color.promotion-color {
    background: linear-gradient(180deg, #A00013 0%, #B30D3C 38.02%);
    fill: #B30D3C;
}

.bgc-dark-grey {
    background-color: #808080;
}

.text-BlackPearl-16 {
    color: #001B36;;
    font-size: 16px;
}

.text-BlackPearl-14 {
    color: #001B36;;
    font-size: 14px;
    font-weight: 600;
}

.text-BlackPearl-12 {
    color: #001B36;;
    font-size: 12px;
}

.text-red-12{
    color: #ff0000;
    font-size: 12px;
}

.text-TrolleyGrey-14{
    color: #808080;
    font-size: 14px;
}

.text-Silver-18{
    color: #C4C4C4;
    font-size: 18px;
}

.text-dark-blue-14{
    color: #2D9CDB;
    font-size: 14px;
    font-weight: 600;
}
