.dropdown-menu{
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.2);
}

.dropdown-item{
    font-size: 16px;
}

.dropdown-sz span{
    position: relative;
    top: -5px;
    right: -5px;
    background: #808080;
}

/*
.dropdown-menu {
    position: relative !important;
    transform: none !important;
}
*/

