.footer {
    margin-left: 90px;
    margin-right: 20px;
    font-size: 14px;
    color: #808080;

}

.footer > div {
    width: 100%;
}

.footer > div > .footer-body {
    background: rgba(0, 0, 0, 0.02);
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
}

.footer-body a {
    text-decoration: none;
    color: #808080;
}

