.form-group-xs {
    margin: 20px 0;
    font-size: 14px;
    line-height: 21px;
}

.form-group-xs label {
    /* font-size: 14px; */
    margin-bottom: 16px;
    line-height: 15px;
}

.form-group-xs input {
    height: 40px;
    font-size: 14px;
    line-height: 21px;
    padding: 13px 10px;
}

.form-group-xs button {
    height: 40px;
}


.form-control-xs {
    font-size: 14px;
    line-height: 21px;
    height: 40px;
}

.form-control-select-menu-xs {
    font-size: 14px;
    line-height: 21px;
}

/* Label */
.form-check-xs {
    font-size: 14px;
    line-height: 21px;
}

.text-center-xs {
    text-align: center !important
}

.d-none-xs {
    display: none !important;
}
