/* Form Control Input */
.form-group {
    margin: 15px 0;
    font-size: 18px;
    font-weight: 500;
}

.form-group label {
    color: rgba(68, 68, 68, 0.9);
    margin-bottom: 10px;
    line-height: 27px;
}

/* .form-group input { // replaced with .form-control below
    height: 50px;
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
    border-radius: 5px;
    color: rgba(68, 68, 68, 0.9);
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    padding: 16px 15px;
} */

.form-group input::placeholder {
    color: rgba(68, 68, 68, 0.6);
}

.form-control {
    height: 50px;
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
    border-radius: 5px;
    /* color: rgba(68, 68, 68, 0.9); */
    font-weight: 500;
    font-size: 18px;
    line-height: 19px;
    padding: 16px 15px;
}

.form-control-no-right-radius{
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.form-control-no-right-border{
    border-right: none;
}

.form-control:focus {
    border-color: #249CDB;
    box-shadow: unset;

}

/*Form Check*/
.form-check {
    display: flex;
    align-items: center;
    align-content: center;
    margin: 15px 6px 15px 0;
    padding: 0;
    font-weight: 500;
}

/* Label */
.form-check-label {
    padding-left: 30px;

    margin: 0;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Faded label color when the input is disabled */
.form-check-input[disabled]~.form-check-label {
    color: rgba(68, 68, 68, 0.5);
}

/* Hide the browser's default checkbox */
.form-check input {
    position: absolute;
    margin: 0;
    padding: 0;
    cursor: pointer;
    opacity: 0;
    height: 16px;
    width: 16px;
}
/* Create a custom style for checkbox and radiobutton*/
.checkbox, .radiobutton {
    top: 0;
    left: 0;
    cursor: pointer;
    height: 16px;
    width: 16px;
    border: 1px solid #C9D6DF;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

/* Checkbox border */
.checkbox {
    border-radius: 2px;
}

/* Radiobutton border */
.radiobutton {
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.form-check-input:hover~.checkbox, .form-check-input:hover~.radiobutton {
    background-color: #DDDDDD;
}

/* remove the hovering effect when the input field is disabled */
.form-check-input[disabled]:not(:checked):hover~.checkbox, .form-check-input[disabled]:not(:checked):hover~.radiobutton {
    background-color: transparent;
}

/* When the checkbox is checked, add a blue background */
.form-check-input:checked~.checkbox, .form-check-input:checked~.radiobutton, .form-check-input:indeterminate~.checkbox{
    background-color: #2D9CDB;
    border-color: #2D9CDB;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkbox:after, .radiobutton:after {
    content: "";
    display: none;
}

/* Show the checkmark when checked */
.form-check-input:checked~.checkbox:after, .form-check-input:checked~.radiobutton:after, .form-check-input:indeterminate~.checkbox:after {
    display: block;
}

/* Style the checkbox checkmark/indicator */
.form-check .checkbox:after {
    position: relative;
    top: 2px;
    left: 4px;
    width: 5px;
    height: 8px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

/* Checkbox checkmark style when indeterminated state */
.form-check-input:indeterminate~.checkbox:after {
    position: relative;
    top: 6px;
    left: 2px;
    width: 10px;
    height: 2px;
    border: none;
    background: white;
    border-radius: 2px;
    transform: rotate(0deg);
    pointer-events: none;
}

/* Style the radiobutton checkmark/indicator */
.form-check .radiobutton:after {
    position: relative;
    top: 4px;
    left: 4px;
    width: 6px;
    height: 6px;
    border: none;
    border-radius: 50%;
    background: white;
    pointer-events: none;
}

/* Dropdown list */
.form-control-select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-weight: 500;
    color: rgba(68, 68, 68, 0.9);
    margin: 0;
    padding: 0 14px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-position:
        calc(100% - 20px);
    background-size: 24px;
    background-image: url(../icons/chevron-down.svg);
    background-repeat: no-repeat;
}

.form-control-select:invalid {
    color: rgba(68, 68, 68, 0.6);
}

.form-control-select option {
    padding: 30px;
    font-weight: 500;
    color: rgba(68, 68, 68, 0.9);

}

.form-control-select option:invalid {
    color: rgba(68, 68, 68, 0.6);
}

.form-control-select option:disabled {
    color: rgba(68, 68, 68, 0.6);
}


.form-control-select-button {
    text-align: left;
    padding-left: 14px;
}

.form-control-select-button img.language-flags {
    padding-right: 14px;
}

.form-control-select-menu {
    padding: 0;
    /* width: ; */
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
    box-shadow: 0 5px 40px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: calc(100% - 30px);
    font-size: 18px;
    font-weight: 500;
}

.form-control-select-item {
    display: flex;
    height: 36px;
    padding-left: 14px;
    padding-top: 6px;
    padding-bottom: 6px;

    align-items: center;

}

.form-control-select-item:hover {
    background: #DDDDDD;
}

.form-control-select-item img.language-flags {
    padding-right: 14px;
}

/* Validation */
.form-group-validation {
    position: relative;
}

.validation-check .form-control {
    border-color: #5CBB5C;
}

.validation-check .icon-control {
    background-color: #5CBB5C;
}

.validation-warning .form-control {
    border-color: #F0AD4E;
}

.validation-warning .icon-control {
    background-color: #F0AD4E;
}

.validation-error .form-control {
    border-color: #D9534F;
}

.validation-error .icon-control {
    background-color: #D9534F;
}

.ng-valid[required], .ng-valid.required  {
  border-color: #5CBB5C;
}

.ng-invalid:not(form)  {
  border-color: #D9534F;
}

/* form Input date, time*/
.form-group-input {
    position: relative;
}

.form-control-select-button span.language-flags {
    padding-right: 14px;
}

.form-control-select-item span.language-flags {
    align-items: flex-start;
}

