h1 {
    font-weight: normal;
    font-size: 22px;
    line-height: 33px;
    display: flex;
    align-items: center;
    color: #001B36;
}

h3 {
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    display: flex;
    align-items: center;
    color: #2D9CDB;
}

h5 {
    font-weight: normal;
    font-size: 22px;
    line-height: 33px;
    display: flex;
    align-items: center;
    color: #2D9CDB;
}

h6 {
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    display: flex;
    align-items: center;
    color: #001B36;
}
