
.icon {
    display: block;
    content: "" !important;
    position: relative;
    width: 24px;
    height: 24px;
    margin: 0 auto;
    background-color: transparent;
    background-position: 0 0;
    background-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
}

.icon-s-20 {
    width: 20px;
    height: 20px;
}

.icon-s-30 {
    width: 30px;
    height: 30px;
}

.social-media-icon {
  height: 30px;
  width: 30px;
  background: #C4C4C4;
  border-radius: 50%;

}

.icon-search {
    background-color: #000;
    -webkit-mask-image: url(../icons/search.svg);
}

.icon-search-grey {
    background-color: #c4c4c4;
}

.icon-activity {
    background-color: #000;
    -webkit-mask-image: url(../icons/activity.svg);
}

.icon-settings {
    background-color: #000;
    -webkit-mask-image: url(../icons/settings.svg);
}

.icon-bell {
    background-color: #000;
    -webkit-mask-image: url(../icons/bell.svg);
}

.icon-grid {
    background-color: #000;
    -webkit-mask-image: url(../icons/grid.svg);
}

.icon-x {
    background-color: #000;
    -webkit-mask-image: url(../icons/x.svg);
}

.icon-chevron-down {
    background-color: #000;
    -webkit-mask-image: url(../icons/chevron-down.svg);
}

.icon-chevron-left {
    background-color: #000;
    -webkit-mask-image: url(../icons/chevron-left.svg);
}

.icon-chevron-right {
    background-color: #000;
    -webkit-mask-image: url(../icons/chevron-right.svg);
}

.icon-alert-triangle {
    background-color: #000;
    -webkit-mask-image: url(../icons/alert-triangle.svg);
}

.icon-check {
    background-color: #000;
    -webkit-mask-image: url(../icons/check.svg);
}

.icon-download {
    background-color: #000;
    -webkit-mask-image: url(../icons/download.svg);
}

.icon-eye {
    background-color: #000;
    -webkit-mask-image: url(../icons/eye.svg);
}

.icon-eye-off {
    background-color: #000;
    -webkit-mask-image: url(../icons/eye-off.svg);
}

.icon-more-horizontal {
    background-color: #000;
    -webkit-mask-image: url(../icons/more-horizontal.svg);
}

.icon-menu {
    background-color: #000;
    -webkit-mask-image: url(../icons/menu.svg);
}

.icon-calendar {
    background-color: #000;
    -webkit-mask-image: url(../icons/calendar.svg);
}

.icon-clock {
    background-color: #000;
    -webkit-mask-image: url(../icons/clock.svg);
}

.icon-trash-2 {
    background-color: #fff;
    -webkit-mask-image: url(../icons/trash-2.svg);
}


.icon-percent {
    background-color: #000;
    -webkit-mask-image: url(../icons/percent.svg);
}

.icon-user {
    background-color: #000;
    -webkit-mask-image: url(../icons/user.svg);
}

.icon-power {
    background-color: #000;
    -webkit-mask-image: url(../icons/power.svg);
}

.icon-home {
    background-color: #000;
    -webkit-mask-image: url(../icons/home.svg);
}

.icon-percent-logo {
    background-color: #000;
    -webkit-mask-image: url(../icons/percent-logo.svg);
}

.icon-plus-circle {
    background-color: #000;
    -webkit-mask-image: url(../icons/plus-circle.svg);
}

.icon-help-circle {
    background-color: #000;
    -webkit-mask-image: url(../icons/help-circle.svg);
}


.icon-more-vertical {
    background-color: #000;
    -webkit-mask-image: url(../icons/more-vertical.svg);
}

.icon-package {
  background-color: #000;
  -webkit-mask-image: url(../icons/package.svg);
}

.icon-logo-promotion {
  background-color: #000;
  -webkit-mask-image: url(../icons/logo-promotion.svg);
}

.icon-logo-loyality {
  background-color: #000;
  -webkit-mask-image: url(../icons/logo-loyality.svg);
}

.icon-logo-admin {
  background-color: #000;
  -webkit-mask-image: url(../icons/logo-admin.svg);
}

.icon-logo-retail {
  background-color: #000;
  -webkit-mask-image: url(../icons/logo-retail.svg);
}

.icon-logo-bi {
  background-color: #000;
  -webkit-mask-image: url(../icons/logo-bi.svg);
}

.icon-archive {
    background-color: #000;
    -webkit-mask-image: url(../icons/archive.svg);
}

.icon-info {
    background-color: #000;
    -webkit-mask-image: url(../icons/info.svg);
}

.icon-filter {
    background-color: #000;
    -webkit-mask-image: url(../icons/filter.svg);
}

.icon-crosshair {
    background-color: #000;
    -webkit-mask-image: url(../icons/crosshair.svg);
}

.icon-alert-circle {
    background-color: #000;
    -webkit-mask-image: url(../icons/alert-circle.svg);
}

.icon-mobil-error {
    /*background-color: #000;*/
    background-image: url(../icons/mobil-error.svg);
}
