.input-group{
    position: relative;
}

.input-group button {
    border: 0;
    padding: 0;
}

.input-group > .form-control:not(:last-child), .input-group > .custom-select:not(:last-child) {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.input-group-append {
    margin-left: -48px;
    z-index: 1;
}

.icon-control {
    position: absolute;
    /*color :#c4c4c4;*/
    background-color: #c4c4c4;
    top: 13px;
    right: 15px;
    text-align: center;
    display: block;
    z-index: 1;
}

.icon-control-input {
    top: 50px;
}

