.label {
    height: 17px;
    width: 46px;
    border-radius: 5px;

    font-weight: 600;
    font-size: 12px;
    line-height: 18px;

    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.label-big {
    height: 26px;
    width: 71px;

    font-size: 18px;
    line-height: 27px;
}

.label-warn {
    background-color: #FFAB21;
}

.label-okay {
    background-color: #5CB85C;
}

.label-error{
    background-color: #FF0000;
}

.label-info{
    background-color: #2D9CDB;
}

.color-circle-small {
    width: 18px !important;
    height: 18px !important;
    border-radius: 50% !important;
}
