.login-logo-xs {
    height: 48px;
    width: 222px;
    margin-bottom: 51px;

}

.modul-logo-xs {
    font-size: 22px;
    line-height: 33px;
}

.footer-logo-xs {
    height: 40px;
    width: 188px;
}
