.login-logo {
    height: 75px;
    width: 350px;
    margin-bottom: 105px;
}

.login-logo img {
    width: 100%;
    height: auto;
}


.footer-logo {
    height: 53.57px;
    width: 250px;
}

.footer-logo img {
    width: 100%;
    height: auto;
}

.modul-logo {
    font-weight: 500;
    font-size: 30px;
    line-height: 45px;
    display: flex;
    align-items: center;
    color: #424242;
}

.facebook {
    background-image: url("../img/socialmedia/facebook.png");
    background-repeat: no-repeat;
}

.facebook:hover {
    background-image: url("../img/socialmedia/facebook_hover.png");
    background-repeat: no-repeat;
}


.youtube {
    background-image: url("../img/socialmedia/Youtube.png");
    background-repeat: no-repeat;
}

.youtube:hover {
    background-image: url("../img/socialmedia/Youtube_hover.png");
    background-repeat: no-repeat;
}

.linkedin {
    background-image: url("../img/socialmedia/LinkedIN.png");
    background-repeat: no-repeat;

}

.linkedin:hover {
    background-image: url("../img/socialmedia/LinkedIN_hover.png");
    background-repeat: no-repeat;
}
