.m-xs-0 {
    margin: 0;
}

.mt-xs-0 {
    margin-top: 0;
}

.ml-xs-0 {
    margin-left: 0;
}

.mr-xs-0 {
    margin-right: 0;
}

.mb-xs-0 {
    margin-bottom: 0;
}

.my-xs-0 {
    margin-top: 0;
    margin-bottom: 0;
}

.mx-xs-0 {
    margin-left: 0;
    margin-right: 0;
}

.m-xs-3 {
    margin: 3px;
}

.ml-xs-3 {
    margin-left: 3px;
}

.mr-xs-3 {
    margin-right: 3px;
}

.mt-xs-3 {
    margin-top: 3px;
}

.mb-xs-3 {
    margin-bottom: 3px;
}

.my-xs-3 {
    margin-top: 3px;
    margin-bottom: 3px;
}

.mx-xs-3 {
    margin-left: 3px;
    margin-right: 3px;
}

.m-xs-6 {
    margin: 6px;
}

.ml-xs-6 {
    margin-left: 6px;
}

.mr-xs-6 {
    margin-right: 6px;
}

.mt-xs-6 {
    margin-top: 6px;
}

.mb-xs-6 {
    margin-bottom: 6px;
}

.my-xs-6 {
    margin-top: 6px;
    margin-bottom: 6px;
}

.mx-xs-6 {
    margin-left: 6px;
    margin-right: 6px;
}

.m-xs-7 {
    margin: 7px;
}

.ml-xs-7 {
    margin-leftp: 7px;
}

.mr-xs-7 {
    margin-right: 7px;
}

.mt-xs-7 {
    margin-top: 7px;
}

.mb-xs-7 {
    margin-bottom: 7px;
}

.my-xs-7 {
    margin-top: 7px;
    margin-bottom: 7px;
}

.mx-xs-7 {
    margin-left: 7px;
    margin-right: 7px;
}



.m-xs-8 {
    margin: 8px;
}

.ml-xs-8 {
    margin-left: 8px;
}

.mr-xs-8 {
    margin-right: 8px;
}

.mt-xs-8 {
    margin-top: 8px;
}

.mb-xs-8 {
    margin-bottom: 8px;
}

.my-xs-8 {
    margin-top: 8px;
    margin-bottom: 8px;
}

.mx-xs-8 {
    margin-left: 8px;
    margin-right: 8px;
}


.m-xs-10 {
    margin: 10px;
}

.ml-xs-10 {
    margin-left: 10px;
}

.mr-xs-10 {
    margin-right: 10px;
}

.mt-xs-10 {
    margin-top: 10px;
}

.mb-xs-10 {
    margin-bottom: 10px;
}

.my-xs-10 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.mx-xs-10 {
    margin-left: 10px;
    margin-right: 10px;
}

.m-xs-15 {
    margin: 15px;
}

.ml-xs-15 {
    margin-left: 15px;
}

.mr-xs-15 {
    margin-right: 15px;
}


.mt-xs-15 {
    margin-top: 15px;
}

.mb-xs-15 {
    margin-bottom: 15px;
}

.my-xs-15 {
    margin-top: 15px;
    margin-bottom: 15px;
}

.mx-xs-15 {
    margin-left: 15px;
    margin-right: 15px;
}


.m-xs-20 {
    margin: 20px;
}

.ml-xs-20 {
    margin-left: 20px;
}

.mr-xs-20 {
    margin-right: 20px;
}


.mt-xs-20 {
    margin-top: 20px;
}

.mb-xs-20 {
    margin-bottom: 20px;
}

.my-xs-20 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.mx-xs-20 {
    margin-left: 20px;
    margin-right: 20px;
}

.m-xs-28 {
    margin: 28px;
}

.ml-xs-28 {
    margin-left: 28px;
}

.mr-xs-28 {
    margin-right: 28px;
}

.mt-xs-28 {
    margin-top: 28px;
}

.mb-xs-28 {
    margin-bottom: 28px;
}

.my-xs-28 {
    margin-top: 28px;
    margin-bottom: 28px;
}

.mx-xs-28 {
    margin-left: 28px;
    margin-right: 28px;
}



.m-xs-30 {
    margin: 30px;
}

.ml-xs-30 {
    margin-left: 30px;
}

.mr-xs-30 {
    margin-right: 30px;
}


.mt-xs-30 {
    margin-top: 30px;
}

.mb-xs-30 {
    margin-bottom: 30px;
}

.my-xs-30 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.mx-xs-30 {
    margin-left: 30px;
    margin-right: 30px;
}
