.m-0 {
    margin: 0;
}

.mt-0 {
    margin-top: 0;
}

.ml-0 {
    margin-left: 0;
}

.mr-0 {
    margin-right: 0;
}

.mb-0 {
    margin-bottom: 0;
}

.my-0 {
    margin-top: 0;
    margin-bottom: 0;
}

.mx-0 {
    margin-left: 0;
    margin-right: 0;
}

.m-6 {
    margin: 6px;
}

.ml-6 {
    margin-left: 6px;
}

.mr-6 {
    margin-right: 6px;
}

.mt-6 {
    margin-top: 6px;
}

.mb-6 {
    margin-bottom: 6px;
}

.my-6 {
    margin-top: 6px;
    margin-bottom: 6px;
}

.mx-6 {
    margin-left: 6px;
    margin-right: 6px;
}

.m-8 {
    margin: 8px;
}

.ml-8 {
    margin-left: 8px;
}

.mr-8 {
    margin-right: 8px;
}

.mt-8 {
    margin-top: 8px;
}

.mb-8 {
    margin-bottom: 8px;
}

.my-8 {
    margin-top: 8px;
    margin-bottom: 8px;
}

.mx-8 {
    margin-left: 8px;
    margin-right: 8px;
}


.m-10 {
    margin: 10px;
}

.ml-10 {
    margin-left: 10px;
}

.mr-10 {
    margin-right: 10px;
}

.mt-10 {
    margin-top: 10px;
}

.mb-10 {
    margin-bottom: 10px;
}

.my-10 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.mx-10 {
    margin-left: 10px;
    margin-right: 10px;
}

.m-15 {
    margin: 15px;
}

.ml-15 {
    margin-left: 15px;
}

.mr-15 {
    margin-right: 15px;
}


.mt-15 {
    margin-top: 15px;
}

.mb-15 {
    margin-bottom: 15px;
}

.my-15 {
    margin-top: 15px;
    margin-bottom: 15px;
}

.mx-15 {
    margin-left: 15px;
    margin-right: 15px;
}


.m-20 {
    margin: 20px;
}

.ml-20 {
    margin-left: 20px;
}

.mr-20 {
    margin-right: 20px;
}


.mt-20 {
    margin-top: 20px;
}

.mb-20 {
    margin-bottom: 20px;
}

.my-20 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.mx-20 {
    margin-left: 20px;
    margin-right: 20px;
}


.m-30 {
    margin: 30px;
}

.ml-30 {
    margin-left: 30px;
}

.mr-30 {
    margin-right: 30px;
}


.mt-30 {
    margin-top: 30px;
}

.mb-30 {
    margin-bottom: 30px;
}

.my-30 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.mx-30 {
    margin-left: 30px;
    margin-right: 30px;
}

.ml-70 {
    margin-left: 70px;
}

.ml-80 {
    margin-left: 80px;
}

.ml-355 {
  margin-left: 355px;
}

