.m-md-0 {
    margin: 0;
}

.mt-md-0 {
    margin-top: 0;
}

.ml-md-0 {
    margin-left: 0;
}

.mr-md-0 {
    margin-right: 0;
}

.mb-md-0 {
    margin-bottom: 0;
}

.my-md-0 {
    margin-top: 0;
    margin-bottom: 0;
}

.mx-md-0 {
    margin-left: 0;
    margin-right: 0;
}

.m-md-6 {
    margin: 6px;
}

.ml-md-6 {
    margin-left: 6px;
}

.mr-md-6 {
    margin-right: 6px;
}

.mt-md-6 {
    margin-top: 6px;
}

.mb-md-6 {
    margin-bottom: 6px;
}

.my-md-6 {
    margin-top: 6px;
    margin-bottom: 6px;
}

.mx-md-6 {
    margin-left: 6px;
    margin-right: 6px;
}

.m-md-8 {
    margin: 8px;
}

.ml-md-8 {
    margin-left: 8px;
}

.mr-md-8 {
    margin-right: 8px;
}

.mt-md-8 {
    margin-top: 8px;
}

.mb-md-8 {
    margin-bottom: 8px;
}

.my-md-8 {
    margin-top: 8px;
    margin-bottom: 8px;
}

.mx-md-8 {
    margin-left: 8px;
    margin-right: 8px;
}


.m-md-10 {
    margin: 10px;
}

.ml-md-10 {
    margin-left: 10px;
}

.mr-md-10 {
    margin-right: 10px;
}

.mt-md-10 {
    margin-top: 10px;
}

.mb-md-10 {
    margin-bottom: 10px;
}

.my-md-10 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.mx-md-10 {
    margin-left: 10px;
    margin-right: 10px;
}

.m-md-15 {
    margin: 15px;
}

.ml-md-15 {
    margin-left: 15px;
}

.mr-md-15 {
    margin-right: 15px;
}


.mt-md-15 {
    margin-top: 15px;
}

.mb-md-15 {
    margin-bottom: 15px;
}

.my-md-15 {
    margin-top: 15px;
    margin-bottom: 15px;
}

.mx-md-15 {
    margin-left: 15px;
    margin-right: 15px;
}


.m-md-20 {
    margin: 20px;
}

.ml-md-20 {
    margin-left: 20px;
}

.mr-md-20 {
    margin-right: 20px;
}


.mt-md-20 {
    margin-top: 20px;
}

.mb-md-20 {
    margin-bottom: 20px;
}

.my-md-20 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.mx-md-20 {
    margin-left: 20px;
    margin-right: 20px;
}


.m-md-30 {
    margin: 30px;
}

.ml-md-30 {
    margin-left: 30px;
}

.mr-md-30 {
    margin-right: 30px;
}


.mt-md-30 {
    margin-top: 30px;
}

.mb-md-30 {
    margin-bottom: 30px;
}

.my-md-30 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.mx-md-30 {
    margin-left: 30px;
    margin-right: 30px;
}
