.btn-delete {
    width: 42px;
    height: 42px;
    bottom: 0;
    right: 0;
}

.icon-trash-2 {
    font-size: 24px;
}

.avatar {
    height: 105px;
    width: 105px;
}
.avatar img{
    height: 101px;
    width: 101px;
}

.avatar + hr {
    width: 0;
}
