.btn-delete {
    width: 50px;
    height: 50px;
    background-color: black;
    border-radius: 50px;
    position: absolute;
    bottom: 0.4vw;
    right: 0.4vw;
    border: none;
}

.btn-delete i {
    vertical-align: middle;
}

.icon-trash-2 {
    font-size: 34px;
}

.avatar {
    height: 15vw;
    width: 15vw;
    max-height: 240px;
    max-width: 240px;
}

.avatar img{
    height: 15vw;
    width: 15vw;
    max-height: 240px;
    max-width: 240px;
}
.avatar + hr {
    width: 15vw;
    max-width: 240px;
}
