/* ----------- Side navigation --------------*/
.side-navigation {
    bottom: 0;
    display: flex;
    flex-direction: row;
    left: 0;
    position: fixed;
    top: 0;
    z-index: 1200;
    height: calc(100vh - 0px);
}

.side-nav {
    display: flex;
    flex-direction: row;
    height: 100%;
    overflow: hidden;
    z-index: 1150 !important;
}

.slide-solid {
    margin-left: 55px;
    bottom: 0;
    left: -6px;
    opacity: 0.5;
    pointer-events: none;
    position: absolute;
    top: 0;
    transition-duration: 0.22s;
    transition-property: left, opacity, width;
    transition-timing-function: cubic-bezier(0.2, 0, 0, 1);
    width: 6px;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.2) 0px, rgba(0, 0, 0, 0.2) 1px, rgba(0, 0, 0, 0.1) 1px, rgba(0, 0, 0, 0) 100%);
}


.sidebar {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    justify-content: flex-start;
    padding-bottom: calc(20px);
    box-shadow: inset -2px 0 4px rgba(0, 0, 0, 0.35);
    transition: background-color 0.3s cubic-bezier(0.2, 0, 0, 1), color 0.3s cubic-bezier(0.2, 0, 0, 1);
    width: 55px;
    height: calc(100vh - 0px);
    color: #DEEBFF;

}

.sidebar > div > i {
    background-color: #FFFFFF !important;
}

.sidebar > div :not(first-child) {
    margin: 20px 0;
}

.sidebar > div:first-child > i {
    margin-bottom: 11px;
    height: 35px;
    width: 35px;
}

.sidebar >div:last-child {
    display: none;
}

/* ----------- END OF Side navigation --------------*/



/* --------------- Contextual navigation ------------- */

.context-nav {
    height: 100%;
    position: relative;
    background: #F4F4F4;;
    border: 1px solid #DDDDDD;
    box-sizing: border-box;

}

.context-nav hr {
    margin-top: 5px;
    margin-bottom: 27px;
}

.closed-context-nav {
    will-change: width;
    width: 16px;
    transition: width 300ms cubic-bezier(0.2, 0, 0, 1) 0s;

}

.opened-context-nav {
    will-change: width;
    width: 290px;
    transition: width 300ms cubic-bezier(0.2, 0, 0, 1) 0s;

}

.context-nav-title p {
    font-size: 30px;
    font-weight: bold;
    color: #424242;
    padding: 10px 110px 10px 32px;
    margin: 0;
}






.menu-button {
    box-shadow: rgba(9, 30, 66, 0.08) 0 0 0 1px, rgba(9, 30, 66, 0.08) 0 2px 4px 1px;
    color: rgb(107, 119, 140);
    cursor: pointer;
    height: 26px;
    width: 26px;
    opacity: 1;
    position: absolute;
    top: 55px;
    right: -26px;
    transform: translate(-50%);
    background: 0 center white;
    border-width: 0;
    border-image: initial;
    border-radius: 50%;
    outline: 0;
    padding: 0;
    transition: background-color 100ms linear 0s, color 100ms linear 0s, opacity 300ms cubic-bezier(0.2, 0, 0, 1) 0s, transform 300ms cubic-bezier(0.2, 0, 0, 1) 0s;
    z-index: 1400;
}

.menu-button-ico-fp {
    color: currentColor;
    display: inline-block;
    background-color: #000000;
    flex-shrink: 0;
    line-height: 1;
}
/* --------------- END OF Contextual navigation ------------- */

/* ----------------- Top navigation bar --------------- */

.top-nav {
    margin-left: 70px;
    height: 70px;
}

.contNavHamburger {
    display: none;
}

.top-nav-menu {
    align-items: flex-end;
}

.top-nav-user-ico {
    overflow: hidden;
    border-radius: 50%;
    height: 42px;
    width: 42px;
}

/* ----------------- END OF Top navigation bar --------------- */

/* ------------------Right menu ------------------------------*/
.right-menu {
    position: fixed;
    right: 0;
    top: 70px;
    border: 1px solid #DDDDDD;
    border-top: 0;
    height: 100%;
    z-index: 1;
}


/* ------------------END OF Right menu -----------------------*/

