/* ----------- Side navigation --------------*/
.side-navigation-xs {
    display: flex;
    position: static;
    width: 100%;
    height: auto;
    top: auto;
    bottom: auto;

}

.side-nav-xs {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 44px;
}

.slide-solid-xs {
    display: none;
}

.sidebar-xs {
    flex-direction: row;
    height: 100%;
    position: absolute;
    align-items: center;
    justify-content: space-evenly;
    bottom: 0;
    width: 100%;
    box-shadow: unset;
    padding-bottom: 0;
}

.sidebar-xs > div:last-child {
    position: fixed;
    right: -5px;
}

.sidebar > div:first-child {
    display: none;
}


.sidebar > div:last-child {
    display: unset;
    margin: 0 10px;
}


/*Contextual navigation*/
.context-nav-xs {
    position: absolute;
    top: 44px;
    left: 0;
    right: 0;
    height: unset;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.closed-context-nav-xs {
    display: none;
}


.menu-button-xs {
    top: unset;
    bottom: -17px;
    right: unset;
    left: 33px;
    height: 34px;
    width: 34px;
}

.menu-button-ico-fp.icon-xs.icon-chevron-right {
    background: #C4C4C4;
}


.opened-context-nav-xs {
    width: 100%;
    transition: unset;
    will-change: unset;

}

/*Top nav*/
.top-nav-xs {
    height: 44px;
    margin-left: 0;
    padding: 5px !important;
    border-bottom: 2px solid #B30D3C !important;;
}


.contNavHamburger-xs {
    box-shadow: none !important;
    display: unset;
    padding: 0;
    margin: 0 10px 0 10px;
    width: 26px;
    height: 26px;
    border-radius: 50%;
}

.contNavHamburger-xs:active {
    background-color: #EEEEEE;;
}

.top-nav-user-ico-xs {
    height: 34px;
    width: 34px;
}

.right-menu-xs {
    top: 44px;
}
