
/* ------- Context nav ---------- */
.context-nav-menu {
    list-style-type: none;
}

.context-nav-menu li {
    font-size: 1.142857em;
    color: #000000;
}

.context-nav-item {
    border-radius: 5px;
    vertical-align: middle;
    line-height: 0;
}

.context-nav-item > div > .menu-label {
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    color: #000000;
}

.context-nav-item > a > span {
    height: 24px;
}

.context-nav-item:hover, .context-nav-item:focus {
    background: rgba(0, 27, 54, 0.08);
    cursor: pointer;

}

.context-nav-search {

}

.context-nav-icon-search {
    position: absolute;
    /* color: #c4c4c4; */
    background-color: #c4c4c4;
    top: 7px;
    right: 10px;
    text-align: center;
    display: block;
    z-index: 1400;
}

.context-nav-search input{
    height: 34px;
    font-size: 14px;
}


/* ------- END OF  Context nav ----------- */



/* ---------- Side navigation menu ----------*/
.sidebar-menu {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 14px;
}

.sidebar-menu-home {
    padding-bottom: 8px;
    color: #FFFFFF;
    font-size: 34px;
    font-weight: bolder;
}

.sidebar-menu-icons {
    padding: 10px;
}


.trans-percent {
    transform: scale(1.1, 1.0);
}


.menu-icon {
    background: unset;
    padding: 0;
    border: none;
    width: 30px;
    height: 30px;
    font-weight: lighter;
}


.sidebar-menu-icons button:hover {
    background: rgba(0, 0, 0, 0.15);
    border-radius: 50%;
}

button:focus {
    outline: 0 !important;
}

/* ---------- END OF Side navigation menu ----------*/

/* --------- Start of TabPage ------- */
.nav-pills > .nav-link.tabpage {
    color: #aaaaaa;
    background-color: transparent;
    /*margin-right: -25px;*/
    display: block;
    box-shadow: none;

}

.nav-pills > .nav-link.tabpage .icon {
    background-color: #aaaaaa;
}
.nav-pills > .nav-link.active.tabpage {
    color: black;
    background-color: white;
    display: block;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    border-right: none;
    z-index: 0;
}

.nav-pills > .nav-link.active.tabpage .icon {
    background-color: black;
}

.tab-pane > .card {
    box-shadow: none;

}
.tab-content {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);

}
/* --------- End of TabPage ------- */
