.global-notification-container {
  position: absolute;
  right: 0;
  top: 65px;
}

.notification-container {
    color: #fff;
    background: #2CA808;
    border-radius: 4px;
    width: 480px;
    padding: 16px 16px 16px 0;
    margin: 16px;
    position: relative;
    z-index: 999;
}

.notification-container .title {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.02em;
    line-height: 22px;
    margin: 1px 0 0 64px;
    padding: 0 0 0 16px;
}

.notification-container .content {
    font-size: 13px;
    letter-spacing: 0.02em;
    line-height: 20px;
    margin: 5px 0 0 64px;
    padding: 0 0 0 16px;
}

.notification-container .btn-close {
    width: 24px;
    height: 24px;
    margin: 0;
    position: absolute;
    top: 16px;
    right: 16px;
}

.notification-container .btn-close i {
    color: #fff;
}

.notification-container .btn-close:hover {
    opacity: 0.6;
}

.notification-container:before {
    background-color: rgba(0, 0, 0, 0.14);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 64px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.notification-info {
    background-color: #4A90E2;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.24), 0 0 4px rgba(0, 0, 0, 0.12), 1px 1px 0 rgba(80, 130, 187, 0.32), 1px 1px 0 rgba(255, 255, 255, 0.32) inset;
}

.notification-info .title, .notification-info .content {
    text-shadow: 1px 1px 0 #3F7CC2;
}

.notification-info:before {
    content: url("data:image/svg+xml,%3Csvg%20width%3D%2224px%22%20height%3D%2228px%22%20viewBox%3D%2220%2022%2024%2024%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%0A%20%20%20%20%3Cpath%20d%3D%22M32%2C48%20C38.627417%2C48%2044%2C42.627417%2044%2C36%20C44%2C29.372583%2038.627417%2C24%2032%2C24%20C25.372583%2C24%2020%2C29.372583%2020%2C36%20C20%2C42.627417%2025.372583%2C48%2032%2C48%20Z%20M33%2C41%20L33%2C34%20L31%2C34%20L31%2C41%20L29%2C41%20L29%2C42%20L35%2C42%20L35%2C41%20L33%2C41%20Z%20M30%2C34%20L31%2C34%20L31%2C35%20L30%2C35%20L30%2C34%20Z%20M31%2C30%20L33%2C30%20L33%2C32%20L31%2C32%20L31%2C30%20Z%22%20id%3D%22Combined-Shape%22%20stroke%3D%22none%22%20fill%3D%22%23FFFFFF%22%20fill-rule%3D%22evenodd%22%3E%3C%2Fpath%3E%0A%3C%2Fsvg%3E");
    box-shadow: 2px 0 0 rgba(255, 255, 255, 0.28), 1px 0 0 #2d5f9a;
}

.notification-success {
    background-color: #27A904;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.24), 0 0 4px rgba(0, 0, 0, 0.12), 1px 1px 0 rgba(3, 98, 17, 0.32), 1px 1px 0 rgba(255, 255, 255, 0.32) inset;
}

.notification-success .title, .notification-success .content {
    text-shadow: 1px 1px 0 #229203;
}

.notification-success:before {
    content: url("data:image/svg+xml,%3Csvg%20width%3D%2224px%22%20height%3D%2228px%22%20viewBox%3D%2220%2022%2024%2024%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%0A%20%20%20%20%3Cpath%20d%3D%22M32%2C48%20C38.627417%2C48%2044%2C42.627417%2044%2C36%20C44%2C29.372583%2038.627417%2C24%2032%2C24%20C25.372583%2C24%2020%2C29.372583%2020%2C36%20C20%2C42.627417%2025.372583%2C48%2032%2C48%20Z%20M26.7865325%2C36.0798122%20L25.2771133%2C37.3919303%20L29.6592798%2C42.5819484%20L39.730037%2C32.8567312%20L38.3407202%2C31.4180516%20L29.8563875%2C39.6112765%20L26.7865325%2C36.0798122%20Z%22%20id%3D%22Combined-Shape%22%20stroke%3D%22none%22%20fill%3D%22%23FFFFFF%22%20fill-rule%3D%22evenodd%22%3E%3C%2Fpath%3E%0A%3C%2Fsvg%3E");
    box-shadow: 2px 0 0 rgba(255, 255, 255, 0.28), 1px 0 0 rgba(23, 92, 40, 0.6);
}

.notification-warning {
    background-color: #EDB900;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.24),  0 0 4px rgba(0, 0, 0, 0.12), 1px 1px 0 #e59c23, 1px 1px 0 rgba(255, 255, 255, 0.32) inset;
}

.notification-warning .title, .notification-warning .content {
    text-shadow: 1px 1px 0 #C29802;
}

.notification-warning:before {
    content: url("data:image/svg+xml,%3Csvg%20width%3D%2224px%22%20height%3D%2228px%22%20viewBox%3D%2220%2022%2024%2024%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%0A%20%20%20%20%3Cpath%20d%3D%22M32%2C48%20C38.627417%2C48%2044%2C42.627417%2044%2C36%20C44%2C29.372583%2038.627417%2C24%2032%2C24%20C25.372583%2C24%2020%2C29.372583%2020%2C36%20C20%2C42.627417%2025.372583%2C48%2032%2C48%20Z%20M31%2C29%20L33%2C29%20L33%2C40%20L31%2C40%20L31%2C29%20Z%20M31%2C42%20L33%2C42%20L33%2C44%20L31%2C44%20L31%2C42%20Z%22%20id%3D%22Combined-Shape%22%20stroke%3D%22none%22%20fill%3D%22%23FFFFFF%22%20fill-rule%3D%22evenodd%22%3E%3C%2Fpath%3E%0A%3C%2Fsvg%3E");
    box-shadow: 2px 0 0 rgba(255, 255, 255, 0.28), 1px 0 0 #c27d0a;
}

.notification-error {
    background-color: #D23A3A;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.24), 0 0 4px rgba(0, 0, 0, 0.12), 1px 1px 0 rgba(110, 14, 14, 0.32), 1px 1px 0 rgba(255, 255, 255, 0.32) inset;
}

.notification-error .title, .notification-error .content {
    text-shadow: 1px 1px 0 #B53332;
}

.notification-error:before {
    content: url("data:image/svg+xml,%3Csvg%20width%3D%2224px%22%20height%3D%2228px%22%20viewBox%3D%2220%2022%2024%2024%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%0A%20%20%20%20%3Cpath%20d%3D%22M33.4142136%2C36%20L38.0104076%2C31.4038059%20L36.5961941%2C29.9895924%20L32%2C34.5857864%20L27.4038059%2C29.9895924%20L25.9895924%2C31.4038059%20L30.5857864%2C36%20L25.9895924%2C40.5961941%20L27.4038059%2C42.0104076%20L32%2C37.4142136%20L36.5961941%2C42.0104076%20L38.0104076%2C40.5961941%20L33.4142136%2C36%20Z%20M32%2C48%20C38.627417%2C48%2044%2C42.627417%2044%2C36%20C44%2C29.372583%2038.627417%2C24%2032%2C24%20C25.372583%2C24%2020%2C29.372583%2020%2C36%20C20%2C42.627417%2025.372583%2C48%2032%2C48%20Z%22%20id%3D%22Combined-Shape%22%20stroke%3D%22none%22%20fill%3D%22%23FFFFFF%22%20fill-rule%3D%22evenodd%22%3E%3C%2Fpath%3E%0A%3C%2Fsvg%3E");
    box-shadow: 2px 0 0 rgba(255, 255, 255, 0.28), 1px 0 0 rgba(92, 23, 23, 0.6);
}

