.p-md-0 {
    padding: 0;
}

.pt-md-0 {
    padding-top: 0;
}

.pl-md-0 {
    padding-left: 0;
}

.pr-md-0 {
    padding-right: 0;
}

.pb-md-0 {
    padding-bottom: 0;
}

.py-md-0 {
    padding-top: 0;
    padding-bottom: 0;
}

.px-md-0 {
    padding-left: 0;
    padding-right: 0;
}

.p-md-8 {
    padding: 8px;
}

.pl-md-8 {
    padding-left: 8px;
}

.pr-md-8 {
    padding-right: 8px;
}

.pt-md-8 {
    padding-top: 8px;
}

.pb-md-8 {
    padding-bottom: 8px;
}

.py-md-8 {
    padding-top: 8px;
    padding-bottom: 8px;
}

.px-md-8 {
    padding-left: 8px;
    padding-right: 8px;
}


.p-md-10 {
    padding: 10px;
}

.pl-md-10 {
    padding-left: 10px;
}

.pr-md-10 {
    padding-right: 10px;
}

.pt-md-10 {
    padding-top: 10px;
}

.pb-md-10 {
    padding-bottom: 10px;
}

.py-md-10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.px-md-10 {
    padding-left: 10px;
    padding-right: 10px;
}

.p-md-12 {
    padding: 12px;
}

.pl-md-12 {
    padding-left: 12px;
}

.pr-md-12 {
    padding-right: 12px;
}

.pt-md-12 {
    padding-top: 12px;
}

.pb-md-12 {
    padding-bottom: 12px;
}

.px-md-12 {
    padding-top: 12px;
    padding-bottom: 12px;
}

.py-md-12 {
    padding-left: 12px;
    padding-right: 12px;
}

.p-md-15 {
    padding: 15px;
}

.pl-md-15 {
    padding-left: 15px;
}

.pr-md-15 {
    padding-right: 15px;
}

.pt-md-15 {
    padding-top: 15px;
}

.pb-md-15 {
    padding-bottom: 15px;
}

.py-md-15 {
    padding-top: 15px;
    padding-bottom: 15px;
}

.px-md-15 {
    padding-left: 15px;
    padding-right: 15px;
}


.p-md-20 {
    padding: 20px;
}

.pl-md-20 {
    padding-left: 20px;
}

.pr-md-20 {
    padding-right: 20px;
}


.pt-md-20 {
    padding-top: 20px;
}

.pb-md-20 {
    padding-bottom: 20px;
}

.py-md-20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.px-md-20 {
    padding-left: 20px;
    padding-right: 20px;
}


.p-md-30 {
    padding: 30px;
}

.pl-md-30 {
    padding-left: 30px;
}

.pr-md-30 {
    padding-right: 30px;
}


.pt-md-30 {
    padding-top: 30px;
}

.pb-md-30 {
    padding-bottom: 30px;
}

.py-md-30 {
    padding-top: 30px;
    padding-bottom: 30px;
}

.px-md-30 {
    padding-left: 30px;
    padding-right: 30px;
}
