.p-xs-0 {
    padding: 0;
}

.pt-xs-0 {
    padding-top: 0;
}

.pl-xs-0 {
    padding-left: 0;
}

.pr-xs-0 {
    padding-right: 0;
}

.pb-xs-0 {
    padding-bottom: 0;
}

.py-xs-0 {
    padding-top: 0;
    padding-bottom: 0;
}

.px-xs-0 {
    padding-left: 0;
    padding-right: 0;
}

.p-xs-3 {
    padding: 3px;
}

.pl-xs-3 {
    padding-left: 3px;
}

.pr-xs-3 {
    padding-right: 3px;
}

.pt-xs-3 {
    padding-top: 3px;
}

.pb-xs-3 {
    padding-bottom: 3px;
}

.py-xs-3 {
    padding-top: 3px;
    padding-bottom: 3px;
}

.px-xs-3 {
    padding-left: 3px;
    padding-right: 3px;
}

.p-xs-6 {
    padding: 6px;
}

.pl-xs-6 {
    padding-left: 6px;
}

.pr-xs-6 {
    padding-right: 6px;
}

.pt-xs-6 {
    padding-top: 6px;
}

.pb-xs-6 {
    padding-bottom: 6px;
}

.py-xs-6 {
    padding-top: 6px;
    padding-bottom: 6px;
}

.px-xs-6 {
    padding-left: 6px;
    padding-right: 6px;
}

.p-xs-7 {
    padding: 7px;
}

.pl-xs-7 {
    padding-leftp: 7px;
}

.pr-xs-7 {
    padding-right: 7px;
}

.pt-xs-7 {
    padding-top: 7px;
}

.pb-xs-7 {
    padding-bottom: 7px;
}

.py-xs-7 {
    padding-top: 7px;
    padding-bottom: 7px;
}

.px-xs-7 {
    padding-left: 7px;
    padding-right: 7px;
}



.p-xs-8 {
    padding: 8px;
}

.pl-xs-8 {
    padding-left: 8px;
}

.pr-xs-8 {
    padding-right: 8px;
}

.pt-xs-8 {
    padding-top: 8px;
}

.pb-xs-8 {
    padding-bottom: 8px;
}

.py-xs-8 {
    padding-top: 8px;
    padding-bottom: 8px;
}

.px-xs-8 {
    padding-left: 8px;
    padding-right: 8px;
}


.p-xs-10 {
    padding: 10px;
}

.pl-xs-10 {
    padding-left: 10px;
}

.pr-xs-10 {
    padding-right: 10px;
}

.pt-xs-10 {
    padding-top: 10px;
}

.pb-xs-10 {
    padding-bottom: 10px;
}

.py-xs-10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.px-xs-10 {
    padding-left: 10px;
    padding-right: 10px;
}

.p-xs-12 {
    padding: 12px;
}

.pl-xs-12 {
    padding-left: 12px;
}

.pr-xs-12 {
    padding-right: 12px;
}


.pt-xs-12 {
    padding-top: 12px;
}

.pb-xs-12 {
    padding-bottom: 12px;
}

.px-xs-12 {
    padding-top: 12px;
    padding-bottom: 12px;
}

.py-xs-12 {
    padding-left: 12px;
    padding-right: 12px;
}

.p-xs-15 {
    padding: 15px;
}

.pl-xs-15 {
    padding-left: 15px;
}

.pr-xs-15 {
    padding-right: 15px;
}


.pt-xs-15 {
    padding-top: 15px;
}

.pb-xs-15 {
    padding-bottom: 15px;
}

.py-xs-15 {
    padding-top: 15px;
    padding-bottom: 15px;
}

.px-xs-15 {
    padding-left: 15px;
    padding-right: 15px;
}


.p-xs-20 {
    padding: 20px;
}

.pl-xs-20 {
    padding-left: 20px;
}

.pr-xs-20 {
    padding-right: 20px;
}


.pt-xs-20 {
    padding-top: 20px;
}

.pb-xs-20 {
    padding-bottom: 20px;
}

.py-xs-20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.px-xs-20 {
    padding-left: 20px;
    padding-right: 20px;
}

.p-xs-28 {
    padding: 28px;
}

.pl-xs-28 {
    padding-left: 28px;
}

.pr-xs-28 {
    padding-right: 28px;
}

.pt-xs-28 {
    padding-top: 28px;
}

.pb-xs-28 {
    padding-bottom: 28px;
}

.py-xs-28 {
    padding-top: 28px;
    padding-bottom: 28px;
}

.px-xs-28 {
    padding-left: 28px;
    padding-right: 28px;
}



.p-xs-30 {
    padding: 30px;
}

.pl-xs-30 {
    padding-left: 30px;
}

.pr-xs-30 {
    padding-right: 30px;
}


.pt-xs-30 {
    padding-top: 30px;
}

.pb-xs-30 {
    padding-bottom: 30px;
}

.py-xs-30 {
    padding-top: 30px;
    padding-bottom: 30px;
}

.px-xs-30 {
    padding-left: 30px;
    padding-right: 30px;
}
