.popover {
    margin-top: 11px;
}
.popover-header {
    padding: 17px 19px ;
    height: 52px;
}

.popover-menu-item {
    height: 52px;
    padding: 20px 14px;
}

.popover-menu-item .icon {
    margin-right: 14px;
}
