

/* Top menu popover */
/* popover-container { */
/* top: 18px !important; */
/* } */

.popover {
    font-family: Poppins;
    font-style: normal;

    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2);
    top: 18px;

    /* Értesítések popoverhez szükséges beállítani min szélességet, különben nagyon keskeny az oszlop */
    /* min-width: 500px; */
}

.popover {
  margin-top: 22px;
}

.popover-userprofile {
  margin-top: 26px;
}

.popover-userprofile .arrow {
  right: 15px !important;
}

.arrow {
    height: 23px;
    width: 23px;
}

.arrow::before {
    border-top-color: transparent;
    border-bottom-color: transparent;
}

.popover-header {
    display: flex;
    align-items: center;
    justify-content: left;

    height: 70px;
    padding: 0 28px 0 28px;

    background-color: #ffffff;
    border-radius: 5px 5px 0 0;
    border: none;

    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    color: #2D9CDB;
}

.popover-body {
    display: block;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    text-decoration: none;
    padding: 0;

    /* értesítéseK popoverhez, hogy túl sok elem esetén lehessen scrollozni. Százalékban nem lehet megadni, mert úgy nem működik. */
    max-height: 600px;
    overflow-y: auto;

    border-radius: 0 0 5px 5px;
}



.popover-menu-item {
    color: black;
    display: flex;
    flex-direction: row;
    /* flex-wrap: nowrap; */
    justify-content: left;
    align-items: center;
    height: 70px;
    padding: 0 28px 0 28px;
}

.popover-menu-item i {
    margin: 0 18px 0 0;
}

.popover-menu-item:nth-of-type(odd),
.popover-notification-item:nth-of-type(odd) {
    background: rgba(244, 244, 244, 1);
}

.popover-menu-item.disabled {
    opacity: 0.5;
}

.popover-menu-item:hover {
    /*
    text-decoration: none, */
    background: rgba(0, 0, 0, 0.2);
    color: black;
}

.popover-menu-item.disabled:nth-of-type(odd):hover {
    background: rgba(244, 244, 244, 1);
}

.popover-menu-item.disabled:nth-of-type(even):hover {
    background: transparent;
}



.popover-notification-item {
    color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: left;
    align-items: center;
    min-height: 111px;
    margin: 0;
    padding: 24px 6px 16px 26px;

}

.popover-notification-item span.icon {
    width: 42px;
    height: 42px;
}

.popover-notification-item span.icon p.avatar {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 24px;
    color: white;

    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-color: #B30D3C;

    margin: 0;

}

.popover-notification-item span.content {
    display: flex;
    flex-direction: column;
    vertical-align: middle;


    width: 100%;
    padding-left: 24px;
    padding-right: 6px;
    line-height: 170.23%;
}



.popover-notification-item span.content a {
    text-decoration-line: underline;
    color: #B30D3C;
}

.popover-notification-item span.content a:hover {
    color: #B30D3C;
}

.popover-notification-item span.content p.message {
    font-size: 16px;
    padding: 0px;
    margin: 0px;
}

.popover-notification-item span.content p.date {
    font-size: 12px;
    padding: 0px;
    margin: 0px;
}

.popover-notification-item span.close_button {
    display: flex;
    vertical-align: top;
    cursor: pointer;
    padding: 0px;
    margin: 0 0 auto 0;

}


.popover-notification-item span.close_button i {
    background-color: #CE9190;
}

.popover-notification-item span.close_button:hover i {
    background-color: #BB6B69;
    }


.popover-info-item {
    color: black;
    display: block;
    justify-content: left;
    align-items: center;
    width: 200px;
    padding: 0 5px 0 5px;
    border-radius: 5px;
}

.popover-info-item p.info {
    font-weight: 500;
    font-size: 11px;
    line-height: 16px;

    padding: 0px;
    margin: 0px;
}

.popover-info-item:nth-of-type(odd) {
    background: white;
}
