/* https://css-tricks.com/custom-scrollbars-in-webkit/ */

.scrollbar-demo {
    /* Demó miatt beállítjuk, hogy a szöveg ne legyen tördelve, hogy a vízszintes és függőleges scrollbar is megjelenjen */
    white-space: nowrap;

    /* konténer max méretének beállítása ami méret felett megjelenik a scrollbar */
    max-width: 400px;
    max-height: 300px;

    /* scrollbar megjelenítési mód */
    overflow-y: auto;
    overflow-x: auto;
}

/* Görgetősáv mérete és színe*/
.scrollbar-demo::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    background: #DDDDDD;
}

/* Görgetősáv végein lévő gombok elrejtése */
.scrollbar-demo::-webkit-scrollbar-button {
    height: 0;
    width: 0;
}

/* Thumb */
.scrollbar-demo::-webkit-scrollbar-thumb {
    background: #2D9CDB;
}

/* Thumb on hover */
.scrollbar-demo::-webkit-scrollbar-thumb:hover {
    background: rgba(45,156,219,0.6);
}

/* EDGE */
.scrollbardemo
{
    white-space: nowrap;

    /* konténer max méretének beállítása ami méret felett megjelenik a scrollbar */
    max-width: 1200px;
    max-height: 1080px;

    /* scrollbar megjelenítési mód */
    overflow-y: auto;
    overflow-x: auto;
}

/*.scrollbardemo::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    background: #DDDDDD;
}
*/

#wrapper {
    /*position:absolute;*/
    z-index: 110;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: auto;

    max-height: 1080px;
    max-width: 1200px;
    white-space: nowrap;
}

#scroller {
    /*position:absolute;*/
    z-index:111;
    /*	-webkit-touch-callout:none;*/
    -webkit-tap-highlight-color:rgba(0,0,0,0);

    width:2500px;
    /*max-height: 300px;*/
    padding:1px;
}


/*
#scroller div div:hover div div {
    -webkit-tap-highlight-color:rgba(255,255,0,0);
    background: red;
}
*/
/*
#scroller ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    text-align: center;
}

#scroller li {
    display: block;
    float: left;
    width: 100px;
    height: 10%;
    border-right: 1px solid #ccc;
    background-color: #fafafa;
}
*/
/*
.box .scrollbardemo {
    box-sizing: content-box;
}
*/
.div #scroller {
    box-sizing: content-box;
}

