@keyframes spinner-szintezis {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-webkit-keyframes spinner-szintezis {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spinner-szintezis-reverse {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}
@-webkit-keyframes spinner-szintezis-reverse {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}
.spinner-szintezis {
    position: relative;
}
.spinner-szintezis div {
    box-sizing: border-box;
}
.spinner-szintezis > div {
    position: absolute;
    width: 88px;
    height: 88px;
    top: 56px;
    left: 56px;
    border-radius: 50%;
    border: 8px solid #000;
    border-color: #ffab21 transparent #ffab21 transparent;
    -webkit-animation: spinner-szintezis 1s linear infinite;
    animation: spinner-szintezis 1s linear infinite;
}
.spinner-szintezis > div:nth-child(2),
.spinner-szintezis > div:nth-child(4) {
    width: 68px;
    height: 68px;
    top: 66px;
    left: 66px;
    -webkit-animation: spinner-szintezis-reverse 1s linear infinite;
    animation: spinner-szintezis-reverse 1s linear infinite;
}
.spinner-szintezis > div:nth-child(2) {
    border-color: transparent #B30D3C transparent #B30D3C;
}
.spinner-szintezis > div:nth-child(3) {
    border-color: transparent;
}
.spinner-szintezis > div:nth-child(3) div {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.spinner-szintezis > div:nth-child(3) div:before,
.spinner-szintezis > div:nth-child(3) div:after {
    content: "";
    display: block;
    position: absolute;
    width: 8px;
    height: 8px;
    top: -8px;
    left: 32px;
    background: #ffab21;
    border-radius: 50%;
    box-shadow: 0 80px 0 0 #ffab21;
}
.spinner-szintezis > div:nth-child(3) div:after {
    left: -8px;
    top: 32px;
    box-shadow: 80px 0 0 0 #ffab21;
}
.spinner-szintezis > div:nth-child(4) {
    border-color: transparent;
}
.spinner-szintezis > div:nth-child(4) div {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.spinner-szintezis > div:nth-child(4) div:before,
.spinner-szintezis > div:nth-child(4) div:after {
    content: "";
    display: block;
    position: absolute;
    width: 8px;
    height: 8px;
    top: -8px;
    left: 22px;
    background: #B30D3C;
    border-radius: 50%;
    box-shadow: 0 60px 0 0 #B30D3C;
}
.spinner-szintezis > div:nth-child(4) div:after {
    left: -8px;
    top: 22px;
    box-shadow: 60px 0 0 0 #B30D3C;
}

.spinner-szintezis {
    width: 200px !important;
    height: 200px !important;
    -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
    transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
}
