@import "buttons.css";
@import "forms.css";
@import "icons.css";
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Overpass+Mono:300,400,600,700&display=swap&subset=latin-ext');
@import "input-group.css";
@import "alerts.css";
@import "colors.css";
@import "margins.css";
@import "cards.css";
@import "headers.css";
@import "width.css";
@import "treeview.css";
@import "badges.css";
@import "position.css";
@import "paddings.css";
@import "navs.css";
@import "tables.css";
@import "logos.css";
@import "navbars.css";
@import "notifications.css";
@import "scrollbar.css";
@import "popover.css";
@import "mediaobject.css";
@import "footer.css";
@import "dropdowns.css";
@import "toggle.css";
@import "label.css";
@import "text.css";
@import "tooltip.css";
@import "spinner.css";


html, body {
    height: 100%;
    font-family: 'Poppins', sans-serif;

}

.ml-345 {
    margin-left: 345px;
}

.popover {
    margin-top: 26px;
}

.grid-select-count-label-line-height {
    line-height: 27px;
}

.search-btn:active {
    background-color: #2D9CDB;
}
