.table thead th {
    border: solid 0 #B30D3C ;
    border-bottom-width: 2px;

    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    align-items: center;
    color: #B30D3C;
    height: 50px !important;
}



.table tbody td {
    height: 50px !important;
}



