.table thead th {
    background: none;
    border: solid 0 #B30D3C ;
    border-bottom-width: 2px;

    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    align-items: center;
    color: #B30D3C;
    height: 35px !important;
}

.table tbody td {
    height: 44px !important;
}



