.table thead th {
    border: solid 0 #B30D3C ;
    border-bottom-width: 2px;


    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    align-items: center;
    color: #B30D3C;
    height: 50px !important;

    cursor: pointer;
}


.table .th-active {
    border: solid 0 #2D9CDB ;
    border-bottom-width: 4px;
}

.table tbody td {
    vertical-align: inherit;
    height: 60px !important;
    border: solid 1px #F3F3F3 ;
}

.table-element-center {
    text-align: center;
}

.table tr:nth-child(odd) td{ background-color:#FFFFFF; }
.table tr:nth-child(even) td{ background-color: #F9F9F9; }

.table thead {
    background: #FFFFFF;
}
