.tooltips {
    color: #001B36;
    font-size: 11px;
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.tooltip > .tooltip-inner {
    margin: 0;
    padding: 0;
    background-color: white;
}

/*
.tooltip-arrow {
    top: 0;
    left: 50%;
    margin-left: -5px;
    border-bottom-color: #4A90E2;
    border-width: 1px 5px 5px;
    background-color: #4A90E2;
}
*/

.bs-tooltip-left .arrow::before, .bs-tooltip-auto[x-placement^="left"] .arrow::before
{
    border-left-color: #DDDDDD;
}
.bs-tooltip-right .arrow::before, .bs-tooltip-auto[x-placement^="right"] .arrow::before
{
    border-right-color: #DDDDDD;
}
.bs-tooltip-top .arrow::before, .bs-tooltip-auto[x-placement^="top"] .arrow::before
{
    border-top-color: #DDDDDD;
}
.bs-tooltip-bottom .arrow::before, .bs-tooltip-auto[x-placement^="bottom"] .arrow::before
{
    border-bottom-color: #DDDDDD;
}
