/* Treeview inspiration from https://www.w3schools.com/howto/howto_js_treeview.asp */

/* Remove default bullets */
.treeview ul {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}

/* set how far right to position the opened branch */
.treeview ul.nested.active {
  padding-left: 30px;
}

/* .h5 Title positioning */
.treeview-title {
  margin-bottom: 30px;
}

/* Each treeview node that contains the caret, checkbox and the label */
.treeview-node {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
  margin: 8px 0;
}

/* Style the caret/arrow */
.caret {
  cursor: pointer;
  user-select: none;
  padding: 0;
  margin: 0;
}

/* Rotate the caret/arrow icon when clicked on (using JavaScript) */
.caret-down {
  -webkit-mask-image: url(../icons/chevron-down.svg);
}

/* Use this to add the correct spacing when there is no caret icon displayed */
.no-caret {
  content: '';
  display: inline-block;
  margin-right: 24px;
}

/* Add this class to color the caret icon when the checkbox is checked */
/* TODO: Corresponding js script has to be written that toggles this class on the span element */
.caret-checked {
  background-color: #2D9CDB;
}

/* Hide the nested list */
.nested {
  display: none;
  list-style-type: none;
}

/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
.active {
  display: block;
}

/* Size, position and hide the default checkbox */
.treeview-node input {
  position: absolute;
  margin: 0 0 0 34px;
  padding: 0;
  cursor: pointer;
  opacity: 0;
  height: 16px;
  width: 16px;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* create custom checkbox */
.treeview-checkbox {
  cursor: pointer;
  height: 16px;
  width: 16px;
  border: 1px solid #C9D6DF;
  border-radius: 2px;
  margin: 0 10px;
}

/* hovering mouse over checkbox */
.treeview-node input:hover~.treeview-checkbox {
  background-color: #DDDDDD;
  border-radius: 2px;
}

/* color of the checked checkbox */
.treeview-node input:checked~.treeview-checkbox {
  background: #2D9CDB;
  border-radius: 2px;
  border: 1px solid #2D9CDB;
}

/* Hide checkmark when not checked */
.treeview-checkbox:after {
  content: "";
  display: none;
}

/* Show checkmark when checked */
.treeview-node input:checked~.treeview-checkbox:after {
  display: block;
}

/* Checkmark style when checked */
.treeview-node .treeview-checkbox:after {
  position: relative;
  top: 2px;
  left: 4px;
  width: 5px;
  height: 8px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  pointer-events: none;
}

/* Checkbox :indeterminate state style */
/* Show checkmark when indeterminate */
.treeview-node input:indeterminate~.treeview-checkbox:after {
  display: block;
}

/* color of the indeterminate checkbox */
.treeview-node input:indeterminate~.treeview-checkbox {
  background: #2D9CDB;
  border-radius: 2px;
  border: 1px solid #2D9CDB;
}

/* Checkmark style when checked */
.treeview-node input:indeterminate~.treeview-checkbox:after {
  position: relative;
  top: 6px;
  left: 2px;
  width: 10px;
  height: 2px;
  border: none;
  border-radius: 2px;
  background: white;
  transform: rotate(0deg);
  pointer-events: none;
}

/* label and link style */
.treeview-label,
.treeview-label a {
  cursor: pointer;
  margin: 0;
  padding: 0;

  font-size: 14px;
  line-height: 21px;

  color: #001B36;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* When checkbox checked, also highlight label and link*/
.treeview-node input:checked~.treeview-label,
.treeview-node input:checked~.treeview-label a {
  font-weight: 600;
  color: #2D9CDB;
}

/* Keep the original label format when the checkbox is in indeterminated state  */
.treeview-node input:indeterminate~.treeview-label,
.treeview-node input:indeterminate~.treeview-label a {
  font-size: 14px;
  line-height: 21px;
  color: #001B36;
}