.w-xs-15 {
    width: 15px;
}

.w-xs-50 {
    width: 50% !important;
}

.w-xs-55 {
    width: 55px;
}

.w-xs-286 {
    width: 286px;
}

.w-xs-320 {
    width: 320px;
}

.w-xs-410 {
    width: 410px;
}

.w-710{
    width: 100%;
}

.w-xs-100 {
    width: 100% !important;
}
