.w-md-15 {
    width: 15px;
}

.w-md-55 {
    width: 55px;
}

.w-md-90 {
    width: 90% !important;
}

.w-md-50 {
    width: 50% !important;
}

.w-md-286 {
    width: 286px;
}

.w-md-410 {
    width: 410px;
}

